<footer id="layout-footer">
    <div class="name">
        <p>
            &#169;  -- SHOUMODIP DAS. All Rights Reserved.
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/"><i class="fa-solid fa-house fa-shake fa-sm" style="color: #fafafa;"></i>&nbsp;Home</a>
                </li>
               
            </ul>
        </nav>
    </div>
</footer>