#layout-footer {
    color: rgb(248, 249, 251);
    background-image: linear-gradient(to top right, #d136f8, #f62161ec);
    padding: 7px 10px 10px 30px;
    display: flex;
    justify-content: flex-start;
    height: 60px;
    justify-content: space-around;
    align-items: center;
  }
  
  #layout-footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 45rem;
  }
  
  #layout-footer .footer-nav ul {
    list-style: none;
  }
a:hover{
    text-decoration: underline;

}